#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define NAV 1
#define SYM 2
#define ADJ 3
#define EXTRA 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
            global-quick-tap;
        };

        para: para {
            compatible = "zmk,behavior-tap-dance";
            label = "PARA";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS>, <&kp RIGHT_PARENTHESIS>;
        };

        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <MINUS BACKSPACE>;
        };

        paraless: paraless {
            compatible = "zmk,behavior-mod-morph";
            label = "PARALESS";
            bindings = <&kp LEFT_PARENTHESIS>, <&kp LESS_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };

        paragreat: paragreat {
            compatible = "zmk,behavior-mod-morph";
            label = "PARAGREAT";
            bindings = <&kp RIGHT_PARENTHESIS>, <&kp GREATER_THAN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT)>;
        };
    };

    macros {
        terminal_quake: terminal_quake {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp SPACE>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "TERMINAL_QUAKE";
        };

        window_desktop_left: window_desktop_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "WINDOW_DESKTOP_LEFT";
        };

        desktop_left: desktop_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "DESKTOP_LEFT";
        };

        desktop_right: desktop_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "DESKTOP_RIGHT";
        };

        window_desktop_right: window_desktop_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LALT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "WINDOW_DESKTOP_RIGHT";
        };

        highlight_word_left: highlight_word {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "HIGHLIGHT_WORD";
        };

        highlight_word_right: highlight_word_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "HIGHLIGHT_WORD_RIGHT";
        };

        highlight_row: highlight_row {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp HOME>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp END>,
                <&macro_release>,
                <&kp LSHIFT>;

            label = "HIGHLIGHT_ROW";
        };

        tab_prev: tab_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LSHIFT>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LSHIFT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "TAB_PREV";
        };

        tab_next: tab_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_tap>,
                <&kp TAB>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "TAB_NEXT";
        };

        window_screen_left: window_screen_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "WINDOW_SCREEN_LEFT";
        };

        window_screen_right: window_screen_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "WINDOW_SCREEN_RIGHT";
        };

        window_position_left: window_position_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp LEFT>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "WINDOW_POSITION_LEFT";
        };

        window_position_right: window_position_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp RIGHT>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "WINDOW_POSITION_RIGHT";
        };

        window_maximize: window_maximize {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp UP>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "WINDOW_MAXIMIZE";
        };

        window_restore: window_restore {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_GUI>,
                <&macro_tap>,
                <&kp DOWN>,
                <&macro_release>,
                <&kp LEFT_GUI>;

            label = "WINDOW_RESTORE";
        };

        redo: redo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCTRL>,
                <&macro_press>,
                <&kp LEFT_SHIFT>,
                <&macro_tap>,
                <&kp Z>,
                <&macro_release>,
                <&kp LEFT_SHIFT>,
                <&macro_release>,
                <&kp LCTRL>;

            label = "REDO";
        };
    };

    combos {
        compatible = "zmk,combos";

        copy {
            bindings = <&kp K_PASTE>;
            key-positions = <28 27>;
            layers = <2>;
        };

        paste {
            bindings = <&kp K_COPY>;
            key-positions = <26 27>;
            layers = <2>;
        };

        cut {
            bindings = <&kp K_CUT>;
            key-positions = <25 26>;
            layers = <2>;
        };

        play_pause {
            bindings = <&kp K_PLAY_PAUSE>;
            key-positions = <16 15>;
            layers = <3>;
        };

        lshift {
            bindings = <&kp LEFT_SHIFT>;
            key-positions = <37 38>;
        };

        l4 {
            bindings = <&mo 4>;
            key-positions = <39 38>;
        };

        home {
            bindings = <&kp HOME>;
            key-positions = <18 19>;
            layers = <2>;
        };

        end {
            bindings = <&kp END>;
            key-positions = <20 21>;
            layers = <2>;
        };
    };

    //

    keymap {
        compatible = "zmk,keymap";

        DEF {
            display-name = "Base";

            // -----------------------------------------------------------------------------------------
            // |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |
            // |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |
            // |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E         &kp R  &kp T      &kp Y      &kp U      &kp I      &kp O    &kp P     &kp BACKSPACE
&kp LSHFT  &kp A  &kp S  &kp D         &kp F  &kp G      &kp H      &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C         &kp V  &kp B      &kp N      &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LEFT_ALT  &mo 1  &kp RET    &kp SPACE  &lt 2 TAB  &kp ESC
            >;
        };

        NUMSYM {
            display-name = "NumSym";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            // | GUI | CTRL | SHFT | LWR | SPC |   | ENT | RSE  | BKSP | ALT | ESC |

            bindings = <
&kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp N6           &kp N7    &kp N8        &kp N9     &kp N0         &kp DEL
&trans     &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET        &kp AMPS  &kp STAR      &kp MINUS  &kp EQUAL      &kp BACKSLASH
&trans     &none     &kp LBKT  &kp LPAR  &kp LBRC  &none        &none            &kp RBRC  &kp RPAR      &kp RBKT   &kp BACKSLASH  &none
                               &trans    &trans    &trans       &terminal_quake  &trans    &kp LEFT_GUI
            >;
        };

        NAVPAGE {
            display-name = "NavPage";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &none       &kp K_BACK  &kp K_FORWARD  &kp K_REFRESH  &kp K_CALCULATOR    &none           &highlight_word_left  &highlight_word_right  &highlight_row  &none  &kp DEL
&trans  &redo       &tab_prev   &tab_next      &none          &none               &kp LEFT_ARROW  &kp DOWN_ARROW        &kp UP_ARROW           &kp RIGHT       &none  &none
&trans  &kp K_UNDO  &kp K_CUT   &kp K_COPY     &kp K_PASTE    &none               &none           &kp PAGE_DOWN         &kp PAGE_UP            &none           &none  &none
                                &trans         &trans         &trans              &trans          &trans                &trans
            >;
        };

        SYS {
            display-name = "System";
            bindings = <
&kp F1  &kp F2         &kp F3  &kp F4      &kp F5      &kp F6          &kp F7                &kp F8                 &kp F9                  &kp F10                &kp F11           &kp F12
&none   &kp C_BRI_INC  &none   &kp K_PREV  &kp K_NEXT  &kp C_VOL_UP    &window_screen_left   &window_position_left  &window_position_right  &window_screen_right   &window_maximize  &kp PRINTSCREEN
&none   &kp C_BRI_DEC  &none   &none       &none       &kp C_VOL_DN    &window_desktop_left  &desktop_left          &desktop_right          &window_desktop_right  &window_restore   &none
                               &none       &trans      &none           &none                 &trans                 &none
            >;
        };

        BOARD {
            display-name = "extra";
            bindings = <
&none  &none  &none  &bt BT_PRV  &bt BT_NXT  &none    &none  &none   &none  &none  &none        &none
&none  &none  &none  &none       &none       &none    &none  &none   &none  &none  &none        &none
&none  &none  &none  &none       &none       &none    &none  &none   &none  &none  &bootloader  &none
                     &none       &trans      &none    &none  &trans  &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        l3 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
